
.wrapper{
    margin: 0 auto;
    width: 1200px;
}

body{
    background-image: url(../image/bg_icon.jpg);
}

/*头部区域*/
.header{
    height: 100px;
    background-color: #fff;
}


.header .wrapper{
    padding-top: 20px;
    display: flex;
}
/*logo*/
.logo  img{
    display: block;
    width: 70px;
    height: auto;

}

/*导航*/
.nav{
    margin-left: 70px;
}

.nav ul{
    display: flex;
}

.nav li{
    margin-right: 20px;
}

.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 20px;
    font-weight: 400;
}

/*active 类选择器，表示默认选中的a*/
.nav li .active,
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;/*选中选项的标识*/
    font-weight: 600;
}

/*搜索*/
.search{
    display: flex;
    margin-left: 90px;
    padding-left: 15px;
    padding-right: 12px;
    width: 300px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search:hover{
    box-shadow:  0 1px 1px rgba(255, 136, 0, .075), 0 0 8px rgb(174 147 116 / 60%);
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;/*输入框的背景色为透明，显示盒子的颜色*/
    outline: none;/*去除点击输入框后显示的焦点框*/
}


.search input::placeholder{
    font-size: 14px;
    color: #999;
}


.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../image/search.png);
}

/*用户*/
.user{
    margin-left: 32px;
    margin-top: 4px;
}

.user img{
    margin-right: 7px;
    width: 35px;
    border-radius: 50%;
    vertical-align: middle;/*行内块和行内垂直方向对齐方式*/
}

/*推荐*/
.course{
    margin-top: 15px;
}

.course .wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}

.course .wrapper .left{
    padding-left: 12px;
    padding-right: 12px;
    width: 900px;
    background-color: #fff;
}
.course .wrapper .right{
    width: 300px;
    margin-left: 12px;
    padding-left: 12px;
    background-color: #fff;
}
/*标题*/
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #EEE;
}

.hd h3{
    font-size: 21px;
    font-size: 400;
}

.hd .more{
    padding-right: 20px;
    background: url(../image/more.png) no-repeat right center ;
    font-size: 14px;
    color: #999;
}

/*内容*/
.left .bd ul{
    display: flex;
    flex-wrap: wrap;/*自动换行*/
    justify-content: space-between;
    margin-top: 5px;
}

.left .bd li{
    margin-bottom: 14px;
    width: 162.17px;
    height: 299.85px;
}

.left .bd li img:hover{
    box-shadow:  0 1px 1px rgba(255, 136, 0, .075), 0 0 15px rgb(174 147 116 / 60%);
}

.left .bd li .pic{
    height: 243.15px;
}

.left .bd li .text{
    height: 50px;
    background-color: #fff;
}

/*图片*/
.left .bd li img{
    width: 162.93px;
    height: 244.39px;
}
/*文字*/
.left .bd li .text h4{
    font-weight: 400;
    line-height: 18px;
    margin-top: 10px;
}
/*文字*/
.left .bd li .text p{
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*右侧排行榜*/
.badge span{
    display: inline-block;
    margin-right: 10px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 2px;
    background: red;
    color: #fff;
}

.right li{
    padding: 10px 0 10px;
    border-top: 1px dotted #EEEEEE;
}
.left a:hover{
    color: red;
}

.right a:hover{
    color: red;
}


.end .wrapper{
    display: flex;
    margin-top: 12px;
    margin-bottom: 10px;
    height: 160px;
    padding: 12px;
    background-color: #fff;
}

.end img{
    margin-left: 10px;
    display: flex;
    height: 150px;
}

.end .information
{
    margin-left: 50px;
    width: 510px;

}

.end .information h4{

}

.end .wrapper .information ul{

    columns: 130px; /* 每列宽度为170px，与li宽度一致 */
    column-gap: 5px; /* 列之间的间距 */
    margin-top: 10px;
    padding: 0;
    list-style: none; /* 可选：移除默认列表标记 */
}

.end .wrapper .information li{
    margin-bottom: 14px;
    width: 170px;
    break-inside: avoid; 
    color: #666;
}
.end .wrapper .information li:hover{
    color: orange;
}
